body{
    min-height: 100vh;
  background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 0.58) 0%, rgba(62, 157, 145, 0.7) 47%, rgba(87, 199, 133, 0.78) 100%, rgba(0, 0, 0, 0.56) 100%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    border-top: 2px solid rgb(13 202 240);
}

.quiz-card{
    width: 30rem;
   
}